<div class="d-flex flex-column flex-shrink-0 p-3 text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href=""
                class="nav-link ">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a href=""
                class="nav-link ">
                <i class="bi bi-people me-2"></i> Clients
            </a>
        </li>
        <li>
            <a href=""
                class="nav-link ">
                <i class="bi bi-person-x me-2"></i> Deceased
            </a>
        </li>
        <li>
            <a href=""
                class="nav-link ">
                <i class="bi bi-calendar-event me-2"></i> Funerals
            </a>
        </li>
        <li>
            <a href=""
                class="nav-link ">
                <i class="bi bi-box-seam me-2"></i> Inventory
            </a>
        </li>
        <li>
            <a href=""
                class="nav-link">
                <i class="bi bi-receipt me-2"></i> Invoices
            </a>
        </li>
        
        <li>
            <a href=""
                class="nav-link ">
                <i class="bi bi-person-lines-fill me-2"></i> Staff
            </a>
        </li>
        <li>
            <a href=""
                class="nav-link ">
                <i class="bi bi-truck me-2"></i> Vehicles
            </a>
        </li>
        
    </ul>
</div>